@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
<div id="color-app">
    <div id="websafe-colors">
        <select id="color-options"></select>
        <ol id="color-list"></ol>
    </div>
    <div id="color-display">
        <div id="black-overlayed"></div>
        <div id="while-overlayed"></div>
        <div id="text-overlayed"></div>
        <div id="display-color"></div>
    </div>
    <div id="color-entry">
        <div id="r-entry" class="value-entry"></div>
        <div id="g-entry" class="value-entry"></div>
        <div id="b-entry" class="value-entry"></div>
        <div id="a-entry" class="value-entry"></div>
    </div>
</div>